# Problem: IMDB Dataset Recommender
### Problem class: Metadata-Based recommender system
### Problem dataset link: https://bit.ly/33IAohl
### Problem description:
     Creating a Metadata based recommendation system using IMDB dataset.

### Problem Task:
     Recommend the top 10 most similar movies.

# Importing libraries

In [2]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns
sns.set()

# Load the dataset into a pandas dataframe

In [3]:
# import data from the clean file
df = pd.read_csv("data/metadata_clean.csv", low_memory=False)
credit_df = pd.read_csv("data/credits.csv", low_memory=False) # https://www.kaggle.com/rounakbanik/the-movies-dataset/downloads/credits.csv/7
keywords_df = pd.read_csv("data/keywords.csv", low_memory=False)

# show the head of the cleaned dataframe
df.head()

,title,genres,runtime,vote_average,vote_count,year
0,Toy Story,"['Animation', 'Comedy', 'Family']",81.0,7.7,5415.0,1995
1,Jumanji,"['Adventure', 'Fantasy', 'Family']",104.0,6.9,2413.0,1995
2,Grumpier Old Men,"['Romance', 'Comedy']",101.0,6.5,92.0,1995
3,Waiting to Exhale,"['Comedy', 'Drama', 'Romance']",127.0,6.1,34.0,1995
4,Father of the Bride Part II,['Comedy'],106.0,5.7,173.0,1995